* {
    padding: 10px; /* Adjust the padding as needed */
    margin: 5px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

header, #intro, #about, #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    background: radial-gradient(circle, DimGrey, rgba(0, 0, 0, 0.5)); /* Radial gradient from DimGrey to 50% opaque black */
    padding: 10px; /* Removes the padding from the header */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#intro h1, #experience h1, #contact h1 {
    color: gold;
}


h2 {
    color: LightGoldenRodYellow;
    position: relative;
    transform: none;
}

#experience p {
    color: wheat ; /* This changes the font color to a light grey */
    font-size: 14px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5d5d5;
    position: relative;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}

.avatar {
    border-radius: 50%; /* This makes the image circular */
    width: 250px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    object-fit: cover; /* This makes sure the image covers the entire area of the img element */
    margin-right: 20px;
}
#intro {
    background: linear-gradient(to right, Dimgrey, rgba(0, 0, 0, 0.5)); /* Gradient from #4c4c4c to 50% opaque black */
    align-self: flex-start; /* Aligns the intro section to the left */
    width: 55%; /* Adjust the width as needed */

}


#contact {
    background: linear-gradient(to right,Dimgrey, rgba(0, 0, 0, 0.5)); /* Gradient from #4c4c4c to 50% opaque black */
    align-self: flex-start; /* Aligns the intro section to the left */
    width: 50%;
}

.Container {
    margin-top: 5%;
}

body {
    background-image: url('../image/background.png');
    background-repeat: repeat;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.container p, .container li, .container a {
    font-size: 18px;
    color: #ffffff;
}

.container ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

footer {
    line-height: 40px;
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}


footer p {
    font-size: 18px;
    transition: transform 0.3s ease, color 0.3s ease;
}

footer p:hover {
    transform: scale(1.1);
    color: #ffffff;
}
    #experience {
        color: #d3d3d3;
        background: linear-gradient(to left,Dimgrey, rgba(0, 0, 0, 0.42));
        align-self: center;
        width: 85%;
        height: auto;
        overflow: hidden;
    }

    .slide {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: auto;
    }

    h2 {
        color: LightGoldenRodYellow;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
#experience:hover {
    animation-play-state: paused;
}

#experience:hover * {
    transform: scale(1.009);
    color: #ff0; /* Change to the color you want */

}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.slide.fade {
    animation: slideIn 2s ease-in-out forwards;
    z-index: 1;
}

.slide.fade:hover {
    animation-play-state: paused;
}